table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    align-content: center;
}
th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

body {
    background: rgb(198,194,255);
    background: linear-gradient(90deg, rgba(198,194,255,1) 0%, rgba(252,252,252,1) 91%);
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}